.layout-container {
    min-height: 100vh;
    max-width: 960px;
    border-radius: var(--border-radius-lg);
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.layout-content {
    display: flex;
    flex: 1;
}