.button {
  width: 100%;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 500;
}

.primary-button {
  background-color: var(--color-primary);
  color: white;
}

.secondary-button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.button:disabled {
  background-color: var(--color-disabled);
  color: var(--color-text-disabled);
  cursor: not-allowed;
}
