.footer-container {
    background-color: var(--color-primary);
    border-top: 2px solid var(--color-secondary);;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

